/*###########################################################################
##############################mobile size####################################
#############################################################################*/
body{
  padding-bottom: 0%;
}
.banniere {
  background-color: #09283D;
  color: #fff;
  text-align: center;
  }

  h5{
    padding-bottom: 10px;
  }

  h4 {
    padding-bottom: 20px;
    padding-top: 25px;
    text-align: center;
  }

  footer{
    text-align: center;
      }

  .link{
    color: #FFF;
  }

  a{
    padding: 0% 0%;
  }


/*##############################################################################
##################################PC Size#######################################
##############################################################################*/

@media screen and (min-width: 823px) {

  section{
    padding: 0 25%;
  }

  h3{
    padding: 5% 0% ;
    text-align: center;
  }


  footer{
    padding-top: 2%;
    /*background-color: blue;*/
  }


}
